//
// Messaging
// --------------------------------------------------

.page-message {
  position: relative;
  margin-top: $space-05;
  padding: $space-2;
  font-size: $text-4;
  font-weight: $bold;
  display: flex;
  align-items: center;
}

.page-message__action {
  text-decoration: underline;
}

.page-message__close {
  position: absolute;
  right: $space-05;
  top: $space-1;
  padding: $space-1;
  cursor: pointer;
}

.page-message__icon{
  height: $space-2;
  border-radius: 50%;
  margin-right: $space-2;
  flex-shrink: 0;
}

.page-message__icon-close {
  width: $space-3;
}

.page-message--error {
  background-color: lighten($color-error, 40%);
  color: $text-error;

  .page-message__text,
  .page-message__action {
    color: $text-error;
  }

  .page-message__icon-close {
    fill: lighten($color-error, 20%);
  }

  & .page-message__close:hover .page-message__icon-close {
    fill: $color-error;
  }

  .page-message__icon {
    fill: lighten($color-error, 40%);
    background-color: $color-error;
  }

}

.page-message--success {
  background-color: lighten($color-success, 40%);
  color: $text-success;

  .page-message__text,
  .page-message__action {
    color: $text-success;
  }

  .page-message__icon-close {
    fill: lighten($color-success, 20%);
  }

  & .page-message__close:hover .page-message__icon-close {
    fill: $color-success;
  }

  .page-message__icon {
  fill: lighten($color-success, 40%);
  background-color: $color-success;
  }

}

.page-message--warning {
  background-color: lighten($color-warning, 40%);
  color: $text-warning;

  .page-message__text,
  .page-message__action {
    color: $text-warning;
  }

    .page-message__icon-close {
    fill: lighten($color-warning, 20%);
    }

    & .page-message__close:hover .page-message__icon-close {
      fill: $color-warning;
    }
  .page-message__icon {
  fill: lighten($color-warning, 40%);
  background-color: $color-warning;

  }

}

.page-message__action:hover {
  color: $link-primary;
}
