//
// Block Grid Utility Classes
// --------------------------------------------------


@each $size in $generate-block-grid-sizes {
  @include generate-breakpoint-prefixes {
    &block-grid-#{$size} {
      font-size: 0;
      margin: (-$space-1);
      padding: 0;
    }

    &block-grid-#{$size} .block-grid__item { width: calc(#{percentage(1/$size)} - #{$space-2}); }

    &block-grid-#{$size}.no-gutters .block-grid__item { width: percentage(1/$size); }
  }
}

.block-grid__item {
  display: inline-block;
  margin: $space-1;
  font-size: $base-font-size;
  vertical-align: top;
}

/*Class to remove margins from block-grid__item and block-grid container*/
.no-gutters {
  margin: 0;
  .block-grid__item{
    margin: 0;
  }
}
