//
// Color Utility Classes - Generated based on variables defined either in base or at theme level
// --------------------------------------------------

@each $class, $color in $colors {
  .fill-#{$class} { background-color: $color; }

  // for SVG, use the text color if available, otherwise use fill
  .svg-#{$class} {
    @if map-has-key($text-colors, $class) {
      fill: map-get($text-colors, $class);
    } @else {
      fill: $color;
    }
  }
}

@each $class, $color in $text-colors {
  .text-#{$class} { color: $color; }
}


// Social Fill Colors
// -------------------------
@each $network in $generate-social {
  .fill-#{$network} { background-color: map-get($color-social, $network); }
  .svg-#{$network} { fill: map-get($color-social, $network); }
}
