//
// Flexbox Utility Classes
// --------------------------------------------------

@include generate-breakpoint-prefixes {

  &flex { display: flex; }

  // flex order
  @for $i from 1 through $generate-flex-orders {
    &flex-order-#{$i} { order: $i; }
  }

  // flex grow and shrink properties
  @for $i from 0 through $generate-flex-sizing {
    &flex-grow-#{$i} { flex-grow: $i; }
    &flex-shrink-#{$i} { flex-shrink: $i; }
  }

  // directional properties
  &flex-row            { flex-direction: row; }
  &flex-row-reverse    { flex-direction: row-reverse; }
  &flex-column         { flex-direction: column; }
  &flex-column-reverse { flex-direction: column-reverse; }

  // flex wrap and nowrap
  &flex-wrap   { flex-wrap: wrap; }
  &flex-nowrap { flex-wrap: nowrap; }

  // justify content
  &flex-justify-start         { justify-content: flex-start; }
  &flex-justify-end           { justify-content: flex-end; }
  &flex-justify-center        { justify-content: center; }
  &flex-justify-space-around  { justify-content: space-around; }
  &flex-justify-space-between { justify-content: space-between; }

  // align items
  &flex-align-start         { align-items: flex-start; }
  &flex-align-end           { align-items: flex-end; }
  &flex-align-center        { align-items: center; }
  &flex-align-baseline      { align-items: baseline; }
  &flex-align-space-around  { align-items: space-around; }
  &flex-align-space-between { align-items: space-between; }

}
