//
// Forms Base Styles
// --------------------------------------------------

// Option Input Style
// -------------------------
// Adds some base custom styles to radio buttons and checkboxes.
// In order to specify shape, border radius is applied
// in class name for the element.

@mixin option-input-style {
  &:before {
    content: "";
    display: inline-block;
    width: .75rem;
    height: .75rem;
    margin-right: .375rem;
    position: relative;
    bottom: -1px;
    background-color: $color-blank;
    border: $border;
  }
}

.text-input,
.text-input--small,
.textarea,
.textarea--small,
.select,
.select--small {
  font-family: inherit;
  background: $color-blank;
  font-size: $text-4;
  line-height: $line-height-form;
  padding: .5rem .75rem;
  border: $border;

  &:disabled {
    opacity: $opacity-disabled;
  }
}

.select {
  background-image: svg-background($down-caret);
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
  background-size: .6875rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 0;
  padding-right: 2.5rem;
}

// Hide select arrow in IE 10+
select::-ms-expand,
.select::-ms-expand {
  display: none;
}

.select--small,
.text-input--small {
  font-size: $text-5;
  line-height: $line-height-form-small;
  padding: 0.3125rem .625rem;
}


.select--small {
  padding-right: 2rem;
  background-position: calc(100% - .875rem) center;
  background-size: .5rem;
}

.textarea {
  display: block;
  min-height: $space-5 * 2;
  padding: .5rem .75rem;
}

.textarea--small {
  display: block;
  min-height: 2rem * 2.5;
  padding: .375rem .625rem;
  font-size: $text-5;
  line-height: $line-height-form-small;
}

// hide system radio button in order to use custom style
.radio {
  @include visuallyhidden;

  // Override for Chrome bug where height collapses on toggle
  height: 0px;

  + label {
    font-size: $text-5;
    cursor: pointer;
    line-height: $line-height-form;
    display: block;
    @include option-input-style;

    &:before { border-radius: 50%; }
  }

  &:disabled + label {
    opacity: $opacity-disabled;
  }
}

.radio:checked + label:before {
  background-color: $color-blank;
  border: 4px solid $color-form-field;
}

// hide system checkbox in order to use custom style
.checkbox {
  @include visuallyhidden;

  // Override for Chrome bug where height collapses on toggle
  height: 0;

  + label {
    font-size: $text-5;
    cursor: pointer;
    line-height: $line-height-form;
    display: block;
    @include option-input-style;

    &:before { border-radius: 30%; }
  }

  &:disabled + label {
    opacity: $opacity-disabled;
  }
}

.checkbox:checked + label:before {
  background-image: svg-background($checkmark);
  background-repeat: no-repeat;
  background-position: center;
  background-color: $color-form-field;
  background-size: .5rem;
  border-style: none;
 }

// labels, etc
// -------------------------

.form-label {
  display: block;
  font-weight: $bold;
  margin-bottom: $space-1;
}

// form label small has less margin bottom than default size form labels
// in order for the entire unit to scale down proportionately
.form-label--small {
  font-size: $text-5;
  margin-bottom: .25rem;
}

.form-label--optional {
  color: $text-secondary-lighter;
  font-weight: $regular;
}

.form-label--required {
  color: $text-error;
  font-weight: $regular;
}

.form-helper {
  color: $text-secondary-lighter;
  display: block;
  margin-top: $space-1;
  font-size: $text-5;
}

.form-feedback {
  display: block;
  margin-top: $space-1;
  font-size: $text-5;
}

.form-fieldset--warning {
  .form-feedback,
  .form-label {
    color: $text-warning;
  }

  .text-input,
  .text-input--small,
  .textarea,
  .textarea--small,
  .select,
  .select--small {
    border-color: $color-warning;
  }
}

.form-fieldset--success {
  .form-feedback,
  .form-label {
    color: $text-success;
  }

  .form-feedback:before {
    content: "";
    height: .875rem;
    width: .875rem;
    display: inline-block;
    background-image: svg-background($checkmark);
    background-repeat: no-repeat;
    background-size: .5rem;
    background-color: $color-success;
    border-radius: 50%;
    background-position: center;
    margin-right: .375rem;
    position: relative;
    bottom: -2px;
  }

  .text-input,
  .text-input--small,
  .textarea,
  .textarea--small,
  .select,
  .select--small {
    border-color: $color-success;
  }
}

.form-fieldset--error {
  .form-feedback,
  .form-label {
    color: $text-error;
  }

  .text-input,
  .text-input--small,
  .textarea,
  .textarea--small,
  .select,
  .select--small {
    border-color: $color-error;
  }
}
