//
// Grid Utility Classes
// --------------------------------------------------

// Variables
// -------------------------

$gutter: $space-1;

// Base Column Float
// -------------------------
// must be applied to every column

.col {
  float: left !important;
}

// Responsive Column and Offset Classes
// ------------------------

@include generate-breakpoint-prefixes {
  @for $i from 1 through $generate-grid-columns {
    &col-#{$i} { width: percentage($i/$generate-grid-columns); }
    &offset-#{$i} { margin-left: percentage($i/$generate-grid-columns); }
  }
}


// Add gutters to the full grid
.gutters {
  margin: 0 (-$gutter) !important;

  >.col {
    padding: 0 $gutter !important;
  }
}
