//
// Layout Utility Classes
// --------------------------------------------------
// These classes make extensive use of the
// generate-breakpoint-prefixes mixin, which
// adds prefixes such as `xs-` to the class.
// see more in `/_mixins.scss`


// Display
// -------------------------

@include generate-breakpoint-prefixes {
  &overflow-hidden  { overflow: hidden; }
  &overflow-auto    { overflow: auto; -webkit-overflow-scrolling: touch; }
  &overflow-scroll  { overflow: scroll; -webkit-overflow-scrolling: touch; }
  &overflow-visible { overflow: visible; }

  &hide         { display: none; }
  &inline       { display: inline; }
  &block        { display: block; }
  &inline-block { display: inline-block; }

  &float-left  { float: left; }
  &float-right { float: right; }
  &float-none  { float: none; }

  &fit         { max-width: 100%; }
  &full-height { height: 100%; }
  &width-auto  { width: auto; }
  &height-auto { height: auto; }

}

// Margins, Padding, and Positioning
// -------------------------

@include generate-breakpoint-prefixes {
  @each $label, $spacing in $generate-spacing-map {
    // Margins
    &m#{$label} { margin: $spacing; }
    &mt#{$label} { margin-top: $spacing; }
    &mr#{$label} { margin-right: $spacing; }
    &mb#{$label} { margin-bottom: $spacing; }
    &ml#{$label} { margin-left: $spacing; }
    &mx#{$label} { margin-left: $spacing; margin-right: $spacing; }
    &my#{$label} { margin-top: $spacing; margin-bottom: $spacing; }

    // Padding
    &p#{$label}  { padding: $spacing; }
    &pt#{$label} { padding-top: $spacing; }
    &pr#{$label} { padding-right: $spacing; }
    &pb#{$label} { padding-bottom: $spacing; }
    &pl#{$label} { padding-left: $spacing; }
    &px#{$label} { padding-left: $spacing; padding-right: $spacing;}
    &py#{$label} { padding-top: $spacing; padding-bottom: $spacing;}

    // Positioning // @todo - maybe don't generate positioning classes/use different config?
    &t#{$label} { top: $spacing; }
    &r#{$label} { right: $spacing; }
    &b#{$label} { bottom: $spacing; }
    &l#{$label} { left: $spacing; }
  }

  // Margins
  &mx-auto { margin-left: auto; margin-right: auto; }

  // Positioning
  &relative { position: relative; }
  &absolute { position: absolute; }
  &fixed    { position: fixed; }
  &static   { position: static; }

  &z1 { z-index: $z1; }
  &z2 { z-index: $z2; }
  &z3 { z-index: $z3; }
  &z4 { z-index: $z4; }
}

// Vertical Align
// -------------------------

@include generate-breakpoint-prefixes {
  &align-top     { vertical-align: top     !important; }
  &align-middle  { vertical-align: middle  !important; }
  &align-bottom  { vertical-align: bottom  !important; }
}

// Helpers
// -------------------------

.clearfix:before,
%clearfix:before,
.clearfix:after,
%clearfix:after {
  content: " "   !important;
  display: table !important;
}

.clearfix:after { clear: both !important; }
