//
// SVG Utility Class
// --------------------------------------------------

// SVG Sizes
// -------------------------

@each $size in $generate-svg-sizes {
	.svg-#{$size} {
		vertical-align: middle;
		width: map-get($text-sizes, $size);
		height: map-get($text-sizes, $size);
	}
}
