//
// Typography Base Styles
// --------------------------------------------------

html {
  font-size: $base-font-size;
  font-family: $sans; // This is just for reference
}

body {
  font-size:   $text-4;
  line-height: $line-height-body;
  color:       $text-primary;
}

h1 {
  font-size:   $text-1;
  line-height: $line-height-heading-large;
}

h2 {
  font-size:   $text-2;
  line-height: $line-height-heading-large;
}

h3 {
  font-size:   $text-3;
  line-height: $line-height-heading-large;
}

h4 {
  font-size:   $text-4;
  line-height: $line-height-heading-small;
}

h5 {
  font-size:   $text-5;
  line-height: $line-height-heading-small;
}

h6 {
  font-size:   $text-6;
  line-height: $line-height-heading-small;
}

//  Unbold header elements by default
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

// This is getting the color from $text-blue
// instead of $link-blue because $link-blue
// does not exist as a variable. .link-blue
// using the $text-blue variable
a {
  text-decoration: none;
  color: $link-primary;

  &:hover {
    color: $link-primary-hover;
    transition: color .15s ease 0s;
  }
}

// Typography Emphasis and Styling
strong,
b {
  font-weight: $bold;
}

em,
i {
  font-style: italic;
}

// Ordered and unordered list,
// list items are block level
ol,
ul {
  @include tabular-figures;
  padding-left: $space-4;
}
